<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>搜分支</title>
  <link rel="stylesheet" href="./static/css/index.css">
  <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.27.2/axios.min.js"></script>
  <script src="./static/settings.js"></script>
  <!-- <script src="./static/js/index.js"></script> -->
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.7.0/vue.min.js"></script>
  <script src="./static/js/index-vue.js"></script>
</head>
<body>
  <div class="search-box" id="app">
    <div class="content" :style="`--color1: ${color1};--color2: ${color2}`">
      <img src="./static/image/warehouse_search.png" alt="" style="width: 40px;margin-left: 20px;">
      <input type="text" id="inp-search" placeholder="请输入分支名关键词查找" v-model="keyWord" @keyup.enter="search">
      <div class="btn" @click="search"> 搜索 </div>
    </div>
    <div class="load-box" v-show="isLoading">
      <div class="load-wai">
        <video class="video" url="" src="./static/image/car-loading2-data.mp4" width="" height="" autoplay muted loop :style="`left: ${now/(all?all:1)*100}%`"></video>
        <div class="load-nei" :style="`width: ${now/(all?all:1)*100}%`"></div>
      </div>
      <div class="load-text">{{all?Math.round(now/all*100):0}}%</div>
    </div>
    <div class="all-data" v-show="isEnd">共查询到{{tableData.length}}条相关信息</div>
    <div class="result-box" v-show="isEnd">
      <div class="result-line" v-for="(item, index) in tableData" :key="index" :style="`--delay: ${index*0.5}s`">
        <div>项目名：<span>{{item.projectName}}</span></div>
        <div>仓库名：<span>{{item.depotName}}</span></div>
        <div>分支名：<span v-html="item.BranchName"></span></div>
        <div>HTTPS：<span>{{item.httpsUrl}}</span><img src="./static/image/copy.png" alt="" class="copy-img" @click="copy(item.httpsUrl)"></div>
        <div>SSH：<span>{{item.sshUrl}}</span><img src="./static/image/copy.png" alt="" class="copy-img" @click="copy(item.sshUrl)"></div>
      </div>
      <div class="no-data" v-if="tableData.length==0">暂无结果</div>
    </div>
  </div>
  <div class="error-box"></div>
</body>
</html>