*{
  padding: 0;
  margin: 0;
}
.search-box{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result-box{
  width: 42vw;
  height: 60vh;
  margin-top: 30px;
  overflow: auto;
}
.result-box::-webkit-scrollbar{
  width: 0;
}
.result-line{
  padding: 20px 0;
  border-bottom: 1px dashed rgb(175, 175, 175);
  font-size: 18px;
  font-weight: bold;
  font-family: 黑体;
  animation: fadeBottomIn forwards 1s var(--delay);
  opacity: 0;
}
.key-color{
  color: rgba(219, 88, 0, 0.747);
}
.content{
  width: 45vw;
  height: 60px;
  line-height: 60px;
  /* border: 1px solid rgba(128, 128, 128, 0.438); */
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 8px 8px 20px #c4c4c4, -8px -8px 20px #fff;
  animation: all 1s;
}
.load-box{
  width: 38vw;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  animation: fadeBottomIn 1s;
}
.load-wai{
  width: 92%;
  height: 6px;
  border-radius: 3px;
  background: rgb(230, 230, 230);
}
.load-text{
  font-size: 18px;
  font-weight: bold;
  font-family: 黑体;
}
.load-nei{
  width: 0%;
  height: 100%;
  border-radius: 3px;
  background: rgb(0, 162, 255);
}
#inp-search{
  flex: 1;
  border: none;
  outline: none;
  font-size: 18px;
  margin-left: 10px;
}
.btn{
  width: 20%;
  height: 100%;
  border-radius: 30px;
  background: rgba(219, 88, 0, 0.747);
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 20px;
  font-family: 黑体;
  letter-spacing: 10px;
  text-indent: 10px;
  cursor: pointer;
}
.error-box{
  width: 300px;
  min-height: 200px;
  box-shadow: 8px 8px 20px #c4c4c4, -8px -8px 20px #fff;
  position: absolute;
  left: 20px;
  top: 20px;
  max-height: 80vh;
  border-radius: 10px;
  display: none;
}
@keyframes fadeBottomIn {
  from{
    opacity: 0;
    transform: translateY(100px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}