*{
  padding: 0;
  margin: 0;
}
.search-box{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result-box{
  display: none;
  width: 40vw;
  height: 50vh;
  border: 1px solid red;
  margin-top: 20px;
  overflow: hidden;
}
.content{
  width: 40vw;
  height: 60px;
  line-height: 60px;
  /* border: 1px solid rgba(128, 128, 128, 0.438); */
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 8px 8px 20px #c4c4c4, -8px -8px 20px #fff;
  animation: all 1s;
}
.load-box{
  width: 38vw;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: none;
  animation: all 1s;
}
.load-wai{
  width: 92%;
  height: 6px;
  border-radius: 3px;
  background: rgb(230, 230, 230);
}
.load-text{
  font-size: 18px;
  font-weight: bold;
  font-family: 黑体;
}
.load-nei{
  width: 10%;
  height: 100%;
  border-radius: 3px;
  background: rgb(0, 162, 255);
}
#inp-search{
  flex: 1;
  border: none;
  outline: none;
  font-size: 18px;
  margin-left: 10px;
}
.btn{
  width: 20%;
  height: 100%;
  border-radius: 30px;
  background: rgba(219, 88, 0, 0.747);
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 20px;
  font-family: 黑体;
  letter-spacing: 10px;
  text-indent: 10px;
  cursor: pointer;
}